#%RAML 0.8
title: Accounts (V2) - 3 Legged (Alpha Release)
version: v1
baseUri: https://sandbox-openplatform.bbvacompass.com
documentation:
  - title: ""
    content: |
      ## **Last update:** 11/30/2015 ([Change Log](http://docs.changelog.apiary.io/))

      API to use BBVA Compass accounts.

      ## Basics

      ### Return Codes

      The API will return always an HTTP STATUS

      Code | Description
      --- | ---
      **2XX** | The API call was successful.
      **4XX** | The API call had an error. The error will be encoded in the body of the response.
      **5XX** | The API call was unsuccessful. You should retry later.

      Specific error codes

      Code | Description
      --- | ---
      `200 OK` | The request was successful.
      `201 Created` | The request was successful and a resource is created.
      `400 Bad Request` | The request could not be understood or required parameters were missing.
      `401 Unauthorized` | Authentication failed or user doesn't have permissions for requested operation.
      `403 Forbidden` | Access denied, the operation is not allowed.
      `404 Not Found` | Resource was not found.
      `405 Method Not Allowed` | Requested method is not supported for resource.
      `409 Conflict` | Request could not be completed due to conflicting information.
      `500 Internal server error` | Internal server error. Try again later.
      `503 Service Unavailable` | Service is temporary unavailable. Try again later.

      ### Return Schema when errors

      Error response schema :

                  {
                    "type": "object",
                    "properties": {
                      "result": {
                        "type": "object",
                        "required": true,
                        "properties": {
                          "code": { "type": "number", "required": true },
                          "info": { "type": "string", "required": true },
                          "internal_code": { "type": "string"},
                          "errors": {
                            "type": ["array", "null"],
                            "uniqueItems": true,
                            "items": {
                              "type": ["object", "null"],
                              "properties": {
                                "errorCode":   { "type":"string", "required": true },
                                "customerDescription": { "type":"string", "required": true },
                                "shortDescription": { "type":"boolean", "required": false },
                                "system":  { "type":"string", "required": true },
                                "severity":  { "type":"string", "required": true },
                                "techCode":  { "type":"string", "required": true },
                                "language":  { "type":"string", "required": true },
                                "field":  { "type":"string", "required": true },
                                "serialversionuid":  { "type":"string", "required": true },
                                "source":  { "type":"string", "required": true }
                              }
                            }
                          }
                        }
                      }
                    }
                  }

      When there is a 4XX error, the errors array will be informed to help debug errors.

      Example :

      ```
      {
          "result": {
              "code": "400",
              "info": "Bad Request",
              "errors": [
                  {
                      "errorCode": "COPP-102",
                      "customerDescription": "Customer Type value must be X or Y",
                      "shortDescription": "Field not properly informed",
                      "system": "COPP",
                      "severity": "MAJOR",
                      "system": null,
                      "techCode": null,
                      "language": "US",
                      "field": null,
                      "serialversionuid": 1,
                      "source": null
                  }
              ]
          }
      }
      ```

      ### Allowed HTTPs methods:

      Method | Description
      --- | ---
      `POST` | To create a new resource, or execute a operation that modifies data.
      `PUT` | To update a resource
      `GET` | Get a resource or list of resources
      `DELETE` | To delete resource

      ## Idempotence in POST, PUT and DELETE Methods

      This API provides a mechanism to ensure that operations are idempotent. Each call must have a header X-Unique-Transaction-ID
      generated by the client that allows the server to identify each unique call. For methods that change data on the server (POST, PUT and DELETE) if
      the server receives a call with a duplicated `X-Unique-Transaction-ID` in a week timeframe, the service won't be executed again but the response
      will be the same as the first time it was executed.

      This allows to avoid problems with network connectivity as a client can submit a POST, PUT or DELETE call again, knowing that it will be executed only once.
      If the intent of the client is to execute the service again, then it must provide a different `X-Unique-Transaction-ID`.

      **Requests/responses with a 500 response are no longer cached**

      When calling with the same `X-Unique-Transaction-id`:

      * If previous request was an error (http 4xx/5xx), new request should be executed. (No cache of error requests)

      * If previous request was not an error, new request shouldn't be executed but return:

      ```
      {
        "result": {
          "code": 409,
          "info": "Duplicated X-Unique-Transaction-ID",
          "internal_code": "duplicate_transaction_id"
        },
         "previous_response":{
            "result":{
               "code":200,
               "info":"User's reference information"
            },
            "data":{
               "user_reference_id":"1234-146a-1bsd-vbbd",
               "links":[
                  {
                     "rel":"self",
                     "title":"Get user detail",
                     "href":"/api/v2/me",
                     "method":"GET"
                  }
               ]
            }
         }
      }
      ```

      where key is the `X-Unique-Transaction-Id` on the request.

      When calling service GET /api/v2/servicecalls/234234-324324-234234-222, will return the same information as returned on the first call.

      * If service is not the same, service will return a 400 http response code with the following body:
      ```
      {
        "result": {
          "code": 400,
          "info": "Bad Request",
          "internal_code": "duplicate_transaction_id_method"
        }
      }
      ```

      * If body is not the same, service will return a 400 http response code with the following body:
      ```
      {
        "result": {
          "code": 400,
          "info": "Bad Request",
          "internal_code": "duplicate_transaction_id_body"
        }
      }
      ```


      This mechanism is only working 7 days after the first call is executed

      ## Security and authentication

      All calls to the API must have an Authentication header, with a token that identifies the caller

      ```
      Authorization: Tsec KVAd0QtqXrZKdqlpwLYdQuoI4cioUBJOTzpfu-zcN2sXhYZgG-SgtUh-Uua4ViGodLC0sITdp-zrQczvgAUwtp0RQtN3SB4DmYb0mQjvQrgnYV5j0b-oQqdeFsfqEqMZTBmtyB7zuT6--qiBbNdRk2I-q9Hza0N5KxHB4JidvvhuQggwOOxyB40mRIVc6KI2ekirKxAVrtjtVaUHJEvpDQ
      ```

      There are two types of clients of the API :

      * __Applications__

      * __BBVA Compass Customers__

      The login process is explained in the [Open Platform API Security Documentation](http://docs.openplatformsecurity.apiary.io/) section, but in summary :

      * Applications logs using clientId and clientSecret.

      * BBVA Compass Customers logs via BBVA Connect screens, using username and password, and a client_id to specify via which app the user is login in.


      ## Headers

      All headers in the Open Platform follows [Hypertext Transfer Protocol RFC] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)

      Name                           | Type   | Required | Description
      ------------------------------ | ------ | -------- | ---
      `Accept`                       | String | required | Header with the format expected in the response. If not specified it will be __application/json__
      `X-Unique-Transaction-ID`      | String | required | Consumer-generated Global identifier for traceability and idempotence purposes. The format is left open to the client always that it avoids duplicates. Every single request must contain a new X-Unique-Transaction-Id. If a request with the same X-Unique-Transaction-Id has been requested in the last 7 days, the same response will be returned but no action will be performed. Example in UUID format : de305d54-75b4-431b-adb2-eb6b9e546014
      `Authorization`                | String | required | Header with the access token necessary to consume each service, the format is **Authorization: Tsec <token>**. Please, refer to [Open Platform API Security Documentation](http://docs.openplatformsecurity.apiary.io/) for details.
      `Accept-Language`                     | String | optional | Preferred language of the client, responses will be localized to this language if available. The name space of language tags is administered by the [IANA] (http://www.iana.org/assignments/language-subtag-registry/language-subtag-registry).
      `Content-Type`                 | String | required | Header to specify request content format. Typically __application/json__

      ### X-Unique-Transaction-ID

      A header containing a consumer-generated UUID is used for transactional tracing throughout the architecture, and to allow idempotence for POST, PUT and DELETE methods.

      If the `X-Unique-Transaction-ID` header is missing the server will respond with (`400 Bad Request`) and the errorCode **transaction_id_missing**:

      ```json
      {
          "result": {
              "code": 400,
              "message": "Missing X-Unique-Transaction-ID header",
              "internal_code": "transaction_id_missing"
          }
      }
      ```

      ### Language


      Service consumers can select a language of a service, by using standard HTTP headers.

          Accept-Language: en-US, es

      If headers are not specified, the service will return **English by default**

      ## Versioning

      As part of the URL, the version of the API must be specified as follows:

      ```
      /v{version_number}/service_name
      ```

      {version_number} is mandatory.


      ## Browsing the API

      This API implements HATEOAS : Hypermedia as the Engine of Application State

      ### HATEOAS

      Each resource will include an attribute **links** that will contain a list of related resources and available actions

      ```
          "links":    [
            { "rel": "self", "title": "Get account detail", "href": "/v1/api/accounts/01-1234" },
            { "rel": "unlink", "title": "Delete Link from account to application", "href": "/v1/api/accounts/unlink", "method": "POST"},
            { "rel": "cashin", "title": "Transfer money to this bbva account", "href": "/v1/api/accounts/01-1234/cashin", "method": "POST"},
            { "rel": "cashout",  "title": "Transfer money from this bbva account", "href": "/v1/api/accounts/01-1234/cashout", "method": "POST"}
          ]
      ```

      Each link will have :

      | Field   | Description                                                |
      |---------|------------------------------------------------------------|
      | name    | An identifier of the relation                              |
      | title   | A description of the related resource action               |
      | href    | Relative URI of the resource                               |
      | method  | HTTP method to navigate to the relation *if ommited, GET*  |

      ## Formats

      | format name   | description |
      | ------------- | ----------- |
      | string (99)   | string format, if followed by a number between (9), that's the max length for the string
      | number (99,9) | numeric format, if followed by a number between (9) it defines the max length of the number, if followed by a comma (99,9) it defines the maximum number of decimals
      | date          | string with format iso-8601 for dates : **yyyy-MM-dd**
      | timestamp     | string with format iso-8601 for combined date and time : **yyyy-MM-ddTHH:mm:ssZ** if date in UTC or **yyyy-MM-ddTHH:mm:ss�hh:mm** if date includes time offset from UTC. To avoid problems, dates without time offset or UTC flag will be rejected.
/api/v2/health:
  description: |
    Service to inquire the global API status.


  get:
    description: ""
/api/v2/me:
  description: |
    Calls to this services must include an USER-TSEC, so when you're getting the user information, you're getting the logged
    user information.


  get:
    description: |
      Returns authenticated user account basic information.

      For the moment this service returns an unique generated internal user identifier (user_reference_id).
      This is not the real BBVA internal user id, as it will be a unique value, but each user will have a different
      user_reference_id, for identification purposes.




/api/v2/me/notify:
  description: ""
  post:
    description: |
      Method will send a SMS text message or an email message to a user based on the preferred method set on that user's profile.

      #### Attributes for the json body parameter

      | name            | type         | required | description       |
      |-----------------|--------------|----------|-------------------|
      | otp             | number       | required | 6 digit one-time-pin generated to authenticate a specific user  |


/api/v2/users/accounts:
  description: ""
/api/v2/accounts{?type,linked}:
  description: ""
  get:
    description: |
      Method to return accounts basic information for the authenticated user

      * Account types

      code | description |
      --- | ---
      01 | checkings |
      02 | savings | 


/api/v2/accounts/{account_id}:
  description: ""
  get:
    description: |
      Returns detailed data on an account.


/api/v2/accounts/{account_id}/cashin:
  description: ""
  post:
    description: |
      Method to transfer from `BBVA Settlement Account` to `BBVA User Account`.  Money is withdrawn from user's own `APP User Account` and deposited in user's own `BBVA User Account` with id={account_id}.

      #### Attributes for the json body parameter

      Name | Type | Required | Description
      --- | --- | --- | ---
      __amount__                   | Number | Required | Amount of money to transfer.
      __currency__                  | String | Required | Currency of the indicated amount. ISO-4217 format: USD, EUR ...
      __third_party_reference_id__    | String | Required | Number of up to 17 digits used for matching and reconciliation in settlement accounts.
      __description__              | String (60) | Optional | Associated text describing the transfer's reason. Max Length 60
      __type__                     | String | Optional | Parameter to identify special cashin operations (refunds when identity thefts, network problems, etc). **TBD** type values.


      #### Response Codes

      Status | Code | Description
      --- | --- | ---
      __201__              | OK | The operation completed successfully
      __400__              | invalid_currency | The currency provided is not valid
      __400__              | invalid_amount | The amount format is not valid
      __400__              | third_party_reference_id_duplicated | This third_party_reference_id already exists
      __400__              | invalid_third_party_reference_id | The third party reference id is not valid
      __400__              | description_invalid | Limit Reached On Description Field, Max 60 Characters
      __403__              | account_not_linked | The account was not linked previously
      __404__              | account_not_found | The account was not found


/v2/api/accounts/{account_id}/cashin/{third_party_reference_id}:
  description: ""
  delete:
    description: |
      Method to remove a cashin operation. The operation will be removed from the transaction logs.
      A cashin operation can only be reversed in the same day it was created.

      #### Attributes for the json body parameter

      Name | Type | Required | Description
      --- | --- | --- | ---
      __amount__                 | Number | Required | Amount of money to transfer.
      __currency__               | String | Required | Currency of the indicated amount. ISO-4217 format: USD, EUR ...
      __description__            | String (60) | Optional | Associated text describing the reverse's reason. Max Length 60



/api/v2/accounts/{account_id}/cashout:
  description: ""
  post:
    description: |
      Method to create a transfer from `BBVA User Account` to the `BBVA Settlement Account`. Money is withdrawn from user's own `BBVA User Account` and deposited in user's own `APP User Account`

      #### Attributes for the json body parameter

      Name | Type | Required | Description
      --- | --- | --- | ---
      __amount__                 | Number | Required | Amount of money to transfer.
      __currency__                 | String | Required | Currency of the indicated amount. ISO-4217 format: USD, EUR ...
      __third_party_reference_id__  | String | Required | Number of up to 17 digits used for matching and reconciliation in settlement accounts.
      __description__            | String | Optional | Associated text describing the transfer's reason.
      __type__                   | String | Optional | Parameter to identify special cashout operations (refunds when identity thefts, network problems, etc). **TBD** type values.

      #### Response Codes

      Status | Code | Description
      --- | --- | ---
      __201__              | OK | The operation completed successfully
      __400__              | invalid_currency | The currency provided is not valid
      __400__              | invalid_amount | The amount format is not valid
      __400__              | third_party_reference_id_duplicated | This third_party_reference_id already exists
      __400__              | invalid_third_party_reference_id | The third party reference id is not valid
      __400__              | description_invalid | Limit Reached On Description Field, Max 60 Characters
      __403__              | account_not_linked | The account was not linked previously
      __403__              | insufficient_fund | The account does not have enough fund
      __404__              | account_not_found | The account was not found



/api/v2/accounts/{account_id}/cashout/{third_party_reference_id}:
  description: ""
  delete:
    description: |
      Method to remove a cashin operation. The operation will be removed from the transaction logs.
      A cashin operation can only be reversed in the same day it was created.

      #### Attributes for the json body parameter

      Name | Type | Required | Description
      --- | --- | --- | ---
      __amount__                 | Number | Required | Amount of money to transfer.
      __currency__               | String | Required | Currency of the indicated amount. ISO-4217 format: USD, EUR ...
      __description__            | String (60) | Optional | Associated text describing the reverse's reason. Max Length 60


/api/v2/accounts/link:
  description: ""
  post:
    description: |
      Method to link accounts to calling application. This will allow the application to execute operations with in the linked accounts
      with a valid USER-TSEC token.

      #### Response Codes

      Status   | Code | Description
      ---      | --- | ---
      __200__  | OK | Account linked successfully
      __400__  | account_ids_missing| Missing account ids to link
      __403__  | account_linked | Account was already linked
      __404__  | account_not_found | The account was not found
      __404__  | account_not_valid | Account ID Invalid (This case happens if a user tries to link an account that is not his.)


      Each account will be treated separately and the response will include
       information about each linking process. The global response code will be 200 if the API could process the call
       even if each link process had actually a problem.


/api/v2/accounts/unlink:
  description: |
    Removes the linked accounts association to the calling application. This will revoke the application permission
    to execute operations in these accounts with a valid USER-TSEC token.


  post:
    description: |
      #### Response Codes

      Status | Code | Description
      --- | --- | ---
      __200__ | OK | Account unlinked successfully
      __400__ | account_ids_missing| Missing account ids to unlink
      __403__ | account_not_linked | The account was not linked previously
      __404__ | account_not_found | The account was not found
      __404__ | account_not_valid | Account ID Invalid (This case happens if a user tries to unlink an account that is not his.)


      Each account will be treated separately and the response will include
       information about each unlinking process. The global response code will be 200 if the API could process the call
       even if each link process had actually a problem.


/api/v2/accounts/{account_id}/transactions{?dateFrom,dateTo,amountFrom,amountTo,next}:
  description: ""
  get:
    description: |
      Method will return all transactions for a specific account


      #### Response attributes

      Name | Type | Description
      --- | --- | ---
      __operation_number__  | String | Transaction ID.
      __posted_date__        | String | Date of the transaction was done
      __description__     | String | Description of the type of transaction.
      __reversal_id__  | String | Only appear if the transaction settlement is cashIn/cashOut
      __amount__  | Number | amount of the transaction.
      __posted_balance__       | Number | Posted balance of the account after the transaction.
      __currency__       | String | Currency of the transaction
      __check_number__   | String | Check number of the transaction.
      __transaction_type__  | String | Type of transactions


/api/v2/reconciliation:
  description: ""
  post:
    description: |
      Method receives a reconciliation file, that will be processed asynchronously.

      #### Parameters

      Name | Type | Required | Description
      --- | --- | --- | ---
      __hash__                   | Number | Required | MD5 hash of the uploaded file, ie : `38871de9c8ff2308884092960c01c94b`
      __file__                  | String | Required | Binary data of file. Content-Disposition header should include filename and size values.

      #### Response Codes

      Status | Code | Description
      --- | --- | ---
      __201__ | OK | The reconciliation file was uploaded successfully.
      __400__ | invalid_format | There was some problem while processing the file. The message will include if possible the line that caused the problem.
      __400__ | missing_header | The header <header_name> is not present.



/api/v2/reconciliation{?dateFrom,dateTo,amountFrom,amountTo,next}:
  description: ""
  get:
    description: |
      Method allows third party companies to gather information related to transactions performed in the Agency's Bank account.

      #### Response attributes

      Name | Type | Description
      --- | --- | ---
      __operation_number__  | String | Transaction ID.
      __posted_date__        | String | Date of the transaction was done
      __description__     | String | Description of the type of transaction.
      __reversal_id__  | String | Only appear if the transaction settlement is cashIn/cashOut
      __amount__  | Number | amount of the transaction.
      __balance__       | Number | Balance of the account after the transaction.
      __currency__       | String | Currency of the transaction
      __check_number__   | String | Check number of the transaction.


/api/v2/application/init:
  description: |
    Application services that require an APP-TSEC to authenticate.

    ___This service is only available in sandbox mode___

    Initializes all the data, this service must be called before any other, to create the databases to the logged app.

    It will create randomized data for test users.

    If its called on an existing app, it will clean the database and create the data again.



  post:
    description: |
      In the sandbox implementation, it's possible to initialize accounts and users with data loaded by developers. All information loaded this way is optional and when not present it will default to a random valid value.

      #### Attributes for the json body parameter

      Name | Type | Required | Description
      --- | --- | --- | ---
      __users__                | Array   | Optional | List of users to insert in the application
      __user[].id__            | String  | Optional | User identifier. Defaults to uuid v4.
      __user[].username__      | String  | Optional | Username for login into the app. Defaults to `user_[seq_number]`. Also used as password.
      __user[].name__          | String  | Optional | Name and last name of the user. Defaults to random name.
      __accounts__             | Array   | Optional | List of accounts to insert in the application
      __account[].account_id__ | String  | Optional | Account identifier. Defaults to a random 4 digit string prefixed with type, ex: `02-1234`.
      __account[].number__     | Number  | Optional | Last digits of the account number. It gets prefixed with '*******'. Defaults to a random 4 digit string.
      __account[].alias__      | String  | Optional | User description of the account. Defaults to a random description.
      __account[].linked__     | Boolean | Optional | Indicates if the account have been linked to the application. Defaults randomly to `true` or `false`.
      __account[].balance__    | Number  | Optional | Amount of money in the account. Default to a random value from 0 to 1000.
      __account[].currency__   | String  | Optional | Account's type of currency. Defaults to `USD`.
      __account[].type__       | String  | Optional | Type of account from the valid `account_type`s. Defaults to a random valid type.
      __account[].user__       | String  | Optional | A username from the `users` list who owns the account. Defaults to a random user of the `users` list.


