<div id="api-doc">
	<span class="resizer"><i class="resizer__arrow"></i></span>
	{# <div class="api__example-console hidden">
    [@macro_content_action.printConsole/]
	</div>	#}
	<section class="api-doc__section">
		<article  id="api-name">
            <section class="api__documentation">
                <h1 class="api__documentation__title">{{ title | upper }}</h1>
            </section>
            <section class="api__example">
            </section>
        </article>
        <article  id="api-information">
            <section class="api__documentation">
                <h1 class="api__documentation__title">API INFORMATION</h3>
                <table class="api__documentation--table-parameters with_margin-bottom">
                    <tbody>
                    	{% if title %}
                        <tr>
                            <td class="with_border-top">Title:</td>
                            <td class="with_border-top">{{ title }}</td>
                        </tr>
                        {% endif %}
                        {% if version %}
                        <tr>
                            <td>Version:</td>
                            <td>{{ version }} </td>
                        </tr>
                        {% endif %}
                        {% if protocols %}
                        <tr>
                            <td>Protocols:</td>
                            <td>{{ protocols }} </td>
                        </tr>
                        {% endif %}
                        {% if baseUri %}
                        <tr>
                            <td>URI:</td>
                            <td>{{ baseUri }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </section>
            <section class="api__example api__example--place-holder">
                <p class="place-holder place-holder--title">example screen</p>

                <p class="place-holder place-holder--text">No examples are available on this section</p>

                <p class="place-holder place-holder--text">Navigate to any service to show its associated examples</p>
            </section>
        </article>

        {% for chapter in documentation %}
          <article  id="#documentation-{{ chapter.uniqueId }}">
              <section class="api__documentation">
              	<h1 class="api__documentation__title">-{{ chapter.title | upper }}</h1>
                  <div class="highlight-block md-item">
                     {#{% markdown %}{{ chapter.content }}{% endmarkdown %}#}
                     {{ chapter.content  }}
                  </div>
              </section>
              <section class="api__example api__example--place-holder" id="documentation-${documentation.id}">
              </section>
          </article>
        {% endfor %}

        {% for resource in resources %}
		    {#[@macro_content_resource.printContentResource resource model.uri/]#}
        {% endfor %}
	</section>
</div>