<div id="header" class="size-controls-header">
    <ul>
        <li class="size-controls-header_option size-controls-header_links">
           <!-- <a class="size-controls__option size-controls__option--overview" data-action="overview" href="" id="action-overview">Overview</a>-->
        </li>
        <li class="size-controls-header_option size-controls-header_links">
            <!--<a class="size-controls__option size-controls__option--console" data-action="switch-to-console" href="#" id="action-console">Switch to console</a>
            -->
        </li>
        <li class="size-controls-header_option row" data-element="language-selector" id="language-selector">
            <span class="col-amkt col-amkt-6 text-center">SELECT LANGUAGE FOR EXAMPLES</span>
            <ul class="language-controls__list col-amkt col-amkt-6" data-list="language-list">
                <li class="language-controls--selected language-controls__item"><span class="language-controls--selected--text">JAVA</span>
                    <ul class="language-control__items">
                        <li class="language-controls__item" data-item="curl">CURL</li>
                        <li class="language-controls__item item-selected" data-item="java">JAVA</li>
                        <li class="language-controls__item" data-item="python">PYTHON</li>
                    </ul>
                </li>
            </ul>
         </li>
    </ul>
</div>

