/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none !important; }

.hidden {
  display: none !important; }

@font-face {
  font-family: "BBVAWebLight-Regular";
  src: url("../fonts/BBVA-Web-Fonts-1.004-delivery/bbvaweb-light.woff") format("woff"); }

@font-face {
  font-family: "BBVAWebSemibold-Regular";
  src: url("../fonts/BBVA-Web-Fonts-1.004-delivery/bbvaweb-medium.woff") format("woff"); }

@font-face {
  font-family: 'BBVAWebBook-Regular';
  src: url("../fonts/BBVA-Web-Fonts-1.004-delivery/bbvaweb-book.eot");
  src: url("../fonts/BBVA-Web-Fonts-1.004-delivery/bbvaweb-book.eot?#iefix") format("eot"), url("../fonts/BBVA-Web-Fonts-1.004-delivery/bbvaweb-book.woff") format("woff"), url("../fonts/BBVA-Web-Fonts-1.004-delivery/bbvaweb-book.ttf") format("truetype"), url("../fonts/BBVA-Web-Fonts-1.004-delivery/bbvaweb-book.svg#bbvaweb-book") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "BBVAWeb-Semibold";
  src: url("../fonts/BBVA-Web-Fonts-1.004-delivery/bbvaweb-semibold.woff") format("ttf"); }

@font-face {
  font-family: 'apiMarketIconFont';
  src: url("../fonts/BBVA-Web-Fonts-1.004-delivery/api-market-icon-font.eot");
  src: url("../fonts/BBVA-Web-Fonts-1.004-delivery/api-market-icon-font.eot?#iefix") format("embedded-opentype"), url("../fonts/BBVA-Web-Fonts-1.004-delivery/api-market-icon-font.woff") format("woff"), url("../fonts/BBVA-Web-Fonts-1.004-delivery/api-market-icon-font.ttf") format("truetype"), url("../fonts/BBVA-Web-Fonts-1.004-delivery/api-market-icon-font.svg#api-market-icon-font") format("svg");
  font-weight: normal;
  font-style: normal; }

/*********** font size displays **********/
/*********** font size inputs ************/
/*********** font size buttons ************/
/*********** font size ************/
/*********** border radius ************/
/*********** media queries sizes ************/
/*********** layout margin ****************/
/*********** fonts ************/
/*********** colors ************/
/**********************************************/
/************* Borders ******************/
/************* icon Links ****************/
.api_market__tooltip, #sidebar .nav__list__link__tooltip {
  font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  border-radius: 5px;
  border: 1px solid #89D1F3;
  background: #B5E5F9;
  color: #006EC1;
  position: absolute;
  padding: 10px;
  z-index: 1; }

.api-documentation ::-webkit-scrollbar, .sidebar ::-webkit-scrollbar {
  width: 0px; }

.api-documentation ::-webkit-scrollbar-button, .sidebar ::-webkit-scrollbar-button {
  width: 0px;
  height: 5px; }

.api-documentation ::-webkit-scrollbar-track, .sidebar ::-webkit-scrollbar-track {
  background: #F0F1F7;
  border: thin solid #009EE5;
  box-shadow: 0px 0px 3px #F0F1F7 inset;
  border-radius: 4px; }

.api-documentation ::-webkit-scrollbar-thumb, .sidebar ::-webkit-scrollbar-thumb {
  border: thin solid #009EE5;
  border-radius: 4px; }

.row,
.col-amkt {
  box-sizing: border-box; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.col-amkt {
  position: relative;
  float: left; }

/* Creating gutters */
.col-amkt-1 {
  width: 6.86666666667%; }

.col-amkt-2 {
  width: 15.3333333333%; }

.col-amkt-3 {
  width: 23.8%; }

.col-amkt-4 {
  width: 32.2666666667%; }

.col-amkt-5 {
  width: 40.7333333333%; }

.col-amkt-6 {
  width: 49.2%; }

.col-amkt-7 {
  width: 57.6666666667%; }

.col-amkt-8 {
  width: 66.1333333333%; }

.col-amkt-9 {
  width: 74.6%; }

.col-amkt-10 {
  width: 83.0666666667%; }

.col-amkt-11 {
  width: 91.5333333333%; }

.col-amkt-12 {
  width: 100%; }

/*
@media only screen and (max-width: 550px) {
    .col-amkt-1, 
    .col-amkt-2, 
    .col-amkt-3, 
    .col-amkt-4, 
    .col-amkt-5, 
    .col-amkt-6, 
    .col-amkt-7, 
    .col-amkt-8, 
    .col-amkt-9, 
    .col-amkt-10, 
    .col-amkt-11, 
    .col-amkt-12 {
        width: auto;
        float: none;
    }

    .col-amkt + .col-amkt {
        margin-left: 0;
    }
}
*/
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  background-color: white;
  margin-top: 60px;
  font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
  z-index: 4; }
  #sidebar a {
    width: 100%; }
  #sidebar .nav-wrapper-scroll {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white; }
  #sidebar .nav {
    border-right: 1px solid #566270;
    margin-bottom: 0; }
    #sidebar .nav.nav-extend {
      height: 100%; }
    #sidebar .nav > .nav__list {
      margin-right: 21px;
      padding-top: 30px;
      padding-bottom: 30px; }
  #sidebar .nav__list {
    color: #009EE5;
    list-style: none;
    -webkit-padding-start: 0px;
    padding-left: 20px; }
    #sidebar .nav__list li a {
      color: #009EE5; }
  #sidebar .nav__title {
    color: white;
    font-size: 22px;
    background-color: #364250;
    padding: 20px;
    margin: 0;
    height: 59px;
    box-sizing: border-box;
    border-right: 1px solid #FFFFFF;
    text-align: center;
    position: relative; }
  #sidebar .nav__list .nav__list__item {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2.3em;
    position: relative; }
  #sidebar .nav__list.nav__list--sub-list .nav__list__item {
    line-height: 1.7em; }
  #sidebar .nav__list__icon {
    position: absolute;
    text-align: right;
    right: 0;
    z-index: 1;
    top: -3px; }
  #sidebar .nav__list__link__tooltip {
    opacity: 0;
    font-size: 16px;
    font-weight: normal;
    left: 100px;
    padding: 10px;
    position: fixed;
    max-width: calc(100% - 200px);
    z-index: 2;
    -moz-transition: opacity 0.1s linear 2s;
    -webkit-transition: opacity 0.1s linear 2s;
    transition: opacity 0.1s linear 0s; }
    #sidebar .nav__list__link__tooltip:hover {
      opacity: 1;
      transition-delay: 2s; }
  #sidebar .nav__list .nav__list__link {
    display: inline-block;
    overflow: hidden;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    font-weight: normal;
    vertical-align: top; }
    #sidebar .nav__list .nav__list__link.nav__list__link-sublink {
      font-size: 14px;
      color: #A3A9B4;
      font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif; }
    #sidebar .nav__list .nav__list__link.nav__list__link-method {
      max-width: calc(100% - 40px);
      font-size: 14px;
      color: #A3A9B4;
      font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif; }
      #sidebar .nav__list .nav__list__link.nav__list__link-method.nav__list__link--active {
        max-width: calc(100% - 40px); }
    #sidebar .nav__list .nav__list__link.nav__list__link-method:hover {
      color: #72767D; }
  #sidebar .nav__list .nav__list__link:hover {
    color: #009EE5;
    cursor: pointer;
    font-weight: normal; }
    #sidebar .nav__list .nav__list__link:hover + .nav__list__link__tooltip {
      opacity: 1;
      transition-delay: 2s; }
  #sidebar .nav__list .nav__list__link.nav__list__link--active {
    color: #566270;
    max-width: calc(100% - 10px); }
  #sidebar .nav__list .nav__list__link.nav__list__link--active:after {
    content: '';
    width: 23px;
    height: 23px;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    border-left: 1px solid #566270;
    border-bottom: 1px solid #566270;
    margin: -14px -13px;
    top: 20px;
    right: -20px;
    background-color: white;
    box-sizing: border-box;
    z-index: 2; }
  #sidebar .nav__list .nav__list__item .nav__list__item {
    font-size: 18px;
    text-transform: initial;
    font-weight: normal; }
  #sidebar .nav__list .nav__list__item .nav__list__item .nav__list__item {
    font-size: 14px;
    text-transform: initial;
    font-weight: normal; }
  #sidebar .nav__list--sub-list .nav__list__item {
    font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif; }

.size-controls-header {
  position: fixed;
  display: block;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background-color: #364250;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  top: 0;
  z-index: 3;
  min-width: 1200px;
  border-bottom: 1px solid #566270;
  font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif; }
  .size-controls-header a {
    color: white; }
  .size-controls-header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%; }
    .size-controls-header > ul .size-controls-header_option {
      float: left;
      height: 100%;
      line-height: 57px; }
    .size-controls-header > ul .size-controls-header_option a {
      display: inline-block; }
    .size-controls-header > ul .size-controls-header_option:first-child {
      width: 250px;
      text-align: left; }
      .size-controls-header > ul .size-controls-header_option:first-child a {
        margin: 0 28px; }
      .size-controls-header > ul .size-controls-header_option:first-child + .size-controls-header_option {
        width: calc(50% - (250px / 2));
        text-align: right; }
        .size-controls-header > ul .size-controls-header_option:first-child + .size-controls-header_option a {
          margin-right: 28px; }
    .size-controls-header > ul .size-controls-header_option:last-child {
      float: right;
      width: calc(50% - (250px / 2));
      font-size: 14px;
      border-left: 1px solid #A3A9B4; }
    .size-controls-header > ul .size-controls__option {
      position: relative; }
      .size-controls-header > ul .size-controls__option:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        display: block;
        ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin: -6px 0;
        top: 50%; }
      .size-controls-header > ul .size-controls__option:after {
        content: '';
        position: absolute;
        width: 26px;
        height: 26px;
        display: block;
        border-radius: 50%;
        border: 1px solid white;
        top: 50%;
        margin: -14px 0; }
      .size-controls-header > ul .size-controls__option:hover {
        cursor: pointer;
        opacity: 0.6; }
    .size-controls-header > ul .size-controls__option--overview {
      padding-left: 40px; }
      .size-controls-header > ul .size-controls__option--overview:before {
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        left: 10px; }
      .size-controls-header > ul .size-controls__option--overview:after {
        left: 0; }
    .size-controls-header > ul .size-controls__option--console, .size-controls-header > ul .size-controls__option--example {
      padding-right: 40px; }
      .size-controls-header > ul .size-controls__option--console:after, .size-controls-header > ul .size-controls__option--example:after {
        right: 0; }
    .size-controls-header > ul .size-controls__option--console:before {
      border-top: 1px solid white;
      border-right: 1px solid white;
      right: 10px; }
    .size-controls-header > ul .size-controls__option--example:before {
      border-bottom: 1px solid white;
      border-left: 1px solid white;
      right: 5px; }
  .size-controls-header .language-controls__item {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 56px;
    position: relative; }
  .size-controls-header .language-controls__help {
    width: 55%;
    color: white;
    font-size: 14px;
    display: inline-block;
    cursor: default;
    text-align: left;
    vertical-align: middle;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 20px; }
  .size-controls-header .language-controls--selected.language-controls__item.language-controls--displayed .language-control__items {
    display: block !important; }
  .size-controls-header .language-controls__list {
    display: inline-block;
    width: 23%;
    position: absolute; }
    .size-controls-header .language-controls__list:after {
      content: '';
      background-color: #566270;
      display: block;
      line-height: 59px;
      margin-top: -66px;
      height: 66px;
      width: 105%; }
  .size-controls-header .language-control__items {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 2px; }
  .size-controls-header .language-controls--selected {
    background: #566270 !important;
    border: none !important;
    text-indent: 20px; }
    .size-controls-header .language-controls--selected:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #364250;
      position: absolute;
      top: 40%;
      margin-left: 62%; }
  .size-controls-header .language-controls__item {
    background: #566270;
    border-bottom: 1px solid #364250;
    line-height: 59px; }
    .size-controls-header .language-controls__item:hover {
      background: #009EE5; }
    .size-controls-header .language-controls__item:last-child {
      border-bottom: none; }

.resizer {
  position: absolute;
  height: 40px;
  width: 9px;
  background-color: #A3A9B4;
  margin: 0;
  left: calc(50% + 116px);
  z-index: 2; }
  .resizer:hover {
    cursor: pointer; }

.resizer__arrow {
  width: 6px;
  height: 8px;
  border-right: 5px solid #566270;
  position: absolute;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  top: 50%;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  margin: -50% 0; }
  .resizer__arrow.resizer__arrow--displayed-content {
    border-left: 5px solid #566270;
    border-right: none;
    left: 2px; }

.resizer.resizer--displayed-content {
  left: 250px !important;
  margin: 0; }

@media screen and (max-width: 1213px) {
  .api-documentation .resizer {
    left: calc(1200px / 2  + 116px); } }

/* HighlightJS Theme ****************************************/
.hljs-comment,
.hljs-quote {
  color: #F6891E; }

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #ca4949; }

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #9bc641; }

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #9bc641; }

.hljs-title,
.hljs-section {
  color: #009EE5; }

.hljs-keyword,
.hljs-selector-tag {
  color: #FFFFFF; }

.hljs-deletion,
.hljs-addition {
  color: #1b1818;
  display: inline-block;
  width: 100%; }

.hljs-deletion {
  background-color: #ca4949; }

.hljs-addition {
  background-color: #4b8b8b; }

.hljs {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  /* Chrome */
  background: #363636;
  color: #FFFFFF;
  /* 	padding: 15px; */
  font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

/* Line numbers */
.hljs-line-numbers {
  text-align: center;
  border-right: 1px solid #ccc;
  color: #FFF;
  padding: 0px 5px;
  margin-right: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.api__example-console {
  background-color: #F0F1F7;
  margin: 0;
  padding: 0;
  width: calc(50% - 125px);
  z-index: 5;
  vertical-align: top;
  overflow: hidden;
  height: calc(100% - 60px);
  margin-top: 60px;
  font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid #A3A9B4; }
  .api__example-console:before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: -10px;
    width: 9px;
    background-color: #566270; }
  .api__example-console .api-console_header-bar {
    height: 60px;
    padding: 20px;
    background-color: #A3A9B4;
    font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif;
    font-size: 20px; }
    .api__example-console .api-console_header-bar .api-console_header-bar_action {
      color: #FFFFFF;
      position: relative;
      padding-left: 40px; }
      .api__example-console .api-console_header-bar .api-console_header-bar_action:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        display: block;
        ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin: -6px 0;
        top: 50%;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        left: 10px; }
      .api__example-console .api-console_header-bar .api-console_header-bar_action:after {
        content: '';
        position: absolute;
        width: 26px;
        height: 26px;
        display: block;
        border-radius: 50%;
        border: 1px solid white;
        top: 50%;
        margin: -14px 0;
        left: 0; }
      .api__example-console .api-console_header-bar .api-console_header-bar_action:hover {
        cursor: pointer;
        opacity: 0.6; }
  .api__example-console .api-console_section {
    padding: 30px 30px 0;
    display: block;
    margin-bottom: 30px; }
    .api__example-console .api-console_section:last-child {
      margin-bottom: 40px; }
    .api__example-console .api-console_section.api-console_section_parameters {
      border-top: 1px solid #72767D;
      width: 100%;
      position: relative; }
      .api__example-console .api-console_section.api-console_section_parameters.without_border {
        border: none; }
      .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_label {
        margin: 20px 0 10px;
        display: block; }
      .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_input {
        display: block; }
      .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_delete-cross,
      .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_reset-arrow {
        position: static;
        right: 7px;
        bottom: 9px;
        width: 100%; }
        .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_delete-cross .api-console_section_input-group_delete-cross_button,
        .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_delete-cross .api-console_section_input-group_reset-arrow_button,
        .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_reset-arrow .api-console_section_input-group_delete-cross_button,
        .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_reset-arrow .api-console_section_input-group_reset-arrow_button {
          position: absolute;
          right: 5px;
          outline: 0;
          border: 0;
          background: transparent;
          color: #566270;
          font-weight: 900;
          transition: .3s ease color; }
        .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_delete-cross .api-console_section_input-group_reset-arrow_button,
        .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_reset-arrow .api-console_section_input-group_reset-arrow_button {
          bottom: 8px; }
          .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_delete-cross .api-console_section_input-group_reset-arrow_button:before,
          .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_reset-arrow .api-console_section_input-group_reset-arrow_button:before {
            content: '\e800';
            font-family: apiMarketIconFont;
            -ms-transform: none;
            -webkit-transform: none;
            transform: none;
            display: block;
            font-size: 12px; }
        .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_delete-cross .api-console_section_input-group_delete-cross_button,
        .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_reset-arrow .api-console_section_input-group_delete-cross_button {
          top: 5px; }
          .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_delete-cross .api-console_section_input-group_delete-cross_button:before,
          .api__example-console .api-console_section.api-console_section_parameters .api-console_section_input-group_reset-arrow .api-console_section_input-group_delete-cross_button:before {
            content: '\e801';
            font-family: apiMarketIconFont;
            -ms-transform: none;
            -webkit-transform: none;
            transform: none;
            display: block;
            font-size: 18px; }
    .api__example-console .api-console_section.api-console_section_call-action {
      padding: 0; }
      .api__example-console .api-console_section.api-console_section_call-action .api-console_section_call-action_title {
        font-size: 30px;
        font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif;
        background-color: #A3A9B4;
        text-transform: capitalize;
        padding: 20px 30px;
        color: #FFFFFF; }
      .api__example-console .api-console_section.api-console_section_call-action .api-console_section_call-action_block {
        margin: 30px; }
        .api__example-console .api-console_section.api-console_section_call-action .api-console_section_call-action_block .api-console_section_call-action_block_title {
          font-size: 18px;
          text-transform: capitalize;
          margin: 0 0 10px;
          color: #566270;
          line-height: 20px;
          text-transform: uppercase; }
        .api__example-console .api-console_section.api-console_section_call-action .api-console_section_call-action_block .api-console_section_call-action_block_text_key,
        .api__example-console .api-console_section.api-console_section_call-action .api-console_section_call-action_block .api-console_section_call-action_block_text {
          font-size: 14px;
          margin: 0;
          color: #A3A9B4;
          line-height: 20px;
          color: #566270; }
        .api__example-console .api-console_section.api-console_section_call-action .api-console_section_call-action_block .api-console_section_call-action_block_text_key {
          font-size: 16px; }
        .api__example-console .api-console_section.api-console_section_call-action .api-console_section_call-action_block .api-console_section_call-action_response-container {
          width: calc(100% - -60px);
          max-height: 400px;
          overflow-y: auto;
          color: #FFFFFF;
          background-color: #363636;
          margin: 30px 0 60px -30px;
          line-height: 1.5em; }
    .api__example-console .api-console_section.api-console_section_buttons {
      margin: 40px 30px 60px;
      padding: 0;
      text-align: center;
      background-color: #FFFFFF; }
      .api__example-console .api-console_section.api-console_section_buttons .api-console_section_buttons_button {
        padding: 10px 0;
        border: 1px solid #B5E5F9;
        width: 100%;
        margin: 0px;
        display: block;
        height: 40px;
        border: 1px solid #009EE5;
        border-bottom: 0px;
        border-radius: 0px;
        background-color: #FFFFFF;
        color: #009EE5;
        font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0px; }
        .api__example-console .api-console_section.api-console_section_buttons .api-console_section_buttons_button:first-child, .api__example-console .api-console_section.api-console_section_buttons .api-console_section_buttons_button.api-console_section_buttons_button-cancel {
          -webkit-border-radius: 5px 5px 0 0;
          -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0; }
        .api__example-console .api-console_section.api-console_section_buttons .api-console_section_buttons_button:last-child {
          -webkit-border-radius: 0 0 5px 5px;
          -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px; }
        .api__example-console .api-console_section.api-console_section_buttons .api-console_section_buttons_button.api-console_section_buttons_button-action {
          color: #FFFFFF;
          background-color: #009EE5; }
        .api__example-console .api-console_section.api-console_section_buttons .api-console_section_buttons_button.api-console_section_buttons_button-cancel {
          border-bottom: 1px solid #009EE5; }
    .api__example-console .api-console_section .api-console_section_title {
      font-size: 18px;
      font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
      text-transform: capitalize;
      margin-bottom: 20px;
      color: #72767D; }
      .api__example-console .api-console_section .api-console_section_title > * {
        display: inline-block; }
    .api__example-console .api-console_section .api-console_section_title-add-btn:before {
      content: '\e805';
      font-family: apiMarketIconFont;
      font-size: 16px;
      font-weight: 800;
      padding: 0 5px; }
    .api__example-console .api-console_section .api-console_section_title-add-btn:hover {
      color: #006EC1; }
    .api__example-console .api-console_section .api-console_section_input-group {
      position: relative;
      font-size: 18px; }
      .api__example-console .api-console_section .api-console_section_input-group.api-console_section_input-group_double {
        margin-bottom: 20px;
        border-bottom: 1px solid #A3A9B4; }
        .api__example-console .api-console_section .api-console_section_input-group.api-console_section_input-group_double:last-child {
          margin-bottom: 0;
          border-bottom: none; }
      .api__example-console .api-console_section .api-console_section_input-group .api-console_section_input-group_label {
        line-height: 20px;
        display: block;
        font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif;
        color: #A3A9B4;
        padding-left: 10px;
        font-size: 16px; }
      .api__example-console .api-console_section .api-console_section_input-group .api-console_section_input-group_input {
        display: block;
        font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif;
        color: #566270;
        font-size: 16px;
        padding: 0px 10px;
        width: 100%;
        height: 30px;
        background-color: white;
        border: 1px solid #566270;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin: 10px 0 20px; }
        .api__example-console .api-console_section .api-console_section_input-group .api-console_section_input-group_input::-webkit-input-placeholder {
          color: #566270; }
        .api__example-console .api-console_section .api-console_section_input-group .api-console_section_input-group_input:-moz-placeholder {
          color: #566270; }
        .api__example-console .api-console_section .api-console_section_input-group .api-console_section_input-group_input::-moz-placeholder {
          color: #566270; }
        .api__example-console .api-console_section .api-console_section_input-group .api-console_section_input-group_input:-ms-input-placeholder {
          color: #566270; }
      .api__example-console .api-console_section .api-console_section_input-group select.api-console_section_input-group_input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none; }
      .api__example-console .api-console_section .api-console_section_input-group.api-console_section_input-group_select:before {
        content: '\e908';
        font-family: apiMarketIconFont;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
        display: block;
        font-size: 9px;
        position: absolute;
        right: 10px;
        bottom: 10px; }

.api-doc--example-expanded .api__example-console {
  width: calc(100% - 259px);
  /* 	border-left: none;	 */ }

#nav-anchor {
  line-height: 0; }

.api-documentation {
  min-width: 1200px;
  font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif; }
  .api-documentation article, .api-documentation aside, .api-documentation details, .api-documentation figcaption, .api-documentation figure, .api-documentation footer, .api-documentation header, .api-documentation menu, .api-documentation nav, .api-documentation section {
    display: block; }
  .api-documentation body {
    line-height: 1; }
  .api-documentation ol, .api-documentation ul {
    list-style: none; }
  .api-documentation ol.api__documentation__ordered-list {
    list-style: decimal; }
  .api-documentation blockquote, .api-documentation q {
    quotes: none; }
  .api-documentation blockquote:before, .api-documentation blockquote:after, .api-documentation q:before, .api-documentation q:after {
    content: none; }
  .api-documentation table {
    border-collapse: inherit;
    border-spacing: 0; }
  .api-documentation pre {
    white-space: pre-wrap;
    /* CSS 3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    display: inline-block; }
  .api-documentation a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
    cursor: auto; }
  .api-documentation #api-doc {
    margin-left: 250px;
    margin-bottom: 0; }
  .api-documentation .api__documentation__http {
    font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 600;
    background-color: #9bc641;
    color: #FFFFFF;
    width: 35px;
    text-align: center;
    padding: .6em .1em;
    font-size: 10px; }
  .api-documentation .api__documentation__http--get {
    background-color: #9bc641; }
  .api-documentation .api__documentation__http--post {
    background-color: #89D1F3; }
  .api-documentation .api__documentation__http--put {
    background-color: #fdbd2c; }
  .api-documentation .api__documentation__http--delete {
    background-color: #AB1D5C; }
  .api-documentation .api__documentation__http--patch {
    background-color: #006EC1; }
  .api-documentation .api__documentation--table-description {
    margin-bottom: 30px; }
  .api-documentation .api-doc__section {
    position: relative; }
    .api-documentation .api-doc__section.api-doc__section--example-expanded:after, .api-documentation .api-doc__section.api-doc__section--example-expanded:before {
      left: 0; }
    .api-documentation .api-doc__section > article {
      position: relative;
      display: table;
      width: 100%;
      table-layout: fixed; }
      .api-documentation .api-doc__section > article:first-child {
        margin-top: 60px; }
        .api-documentation .api-doc__section > article:first-child .api__documentation:before {
          content: '';
          width: 50%;
          height: 100px;
          background: #364250;
          position: absolute;
          top: -100px;
          right: 0px; }
        .api-documentation .api-doc__section > article:first-child .api__example--expanded {
          height: calc(100% - 60px);
          top: 0; }
  .api-documentation .api__documentation {
    display: table-cell;
    width: 50%;
    padding: 10px;
    padding-right: 20px;
    border-bottom: 1px solid #566270; }
    .api-documentation .api__documentation .api__documentation__title-action .api__documentation__title {
      display: inline-block;
      line-height: 30px;
      max-width: calc(100% - 100px);
      color: #009EE5; }
      .api-documentation .api__documentation .api__documentation__title-action .api__documentation__title .api-console__icon__link--switch {
        padding-right: 40px;
        display: inline-block; }
        .api-documentation .api__documentation .api__documentation__title-action .api__documentation__title .api-console__icon__link--switch:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          border-top: 1px solid #009EE5;
          border-right: 1px solid #009EE5;
          margin: -14px 0px 0px 18px; }
        .api-documentation .api__documentation .api__documentation__title-action .api__documentation__title .api-console__icon__link--switch:after {
          content: '';
          position: absolute;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          border: 1px solid #009EE5;
          margin: -22px 0px -22px 12px; }
        .api-documentation .api__documentation .api__documentation__title-action .api__documentation__title .api-console__icon__link--switch:hover {
          cursor: pointer;
          opacity: 0.6; }
    .api-documentation .api__documentation .api__documentation__title-action .api__documentation__icon {
      display: inline-block;
      vertical-align: top;
      padding: 5px 10px;
      margin: 30px 20px;
      display: inline-block; }
    .api-documentation .api__documentation article {
      margin-bottom: 30px; }
  .api-documentation .api__example {
    font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    font-size: 15px;
    padding: 0;
    /* 		padding-left: 9px; */
    display: table-cell;
    background-color: #364250;
    position: relative;
    border-bottom: 1px solid #A3A9B4;
    width: 50%;
    border-left: 1px solid #A3A9B4; }
    .api-documentation .api__example .api__documentation__title {
      margin: 40px 30px 30px; }
    .api-documentation .api__example .api__example_header-bar {
      height: 60px;
      padding: 20px;
      background-color: #566270;
      font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif;
      font-size: 20px; }
      .api-documentation .api__example .api__example_header-bar .api__example_header-bar_action {
        color: #FFFFFF;
        padding-right: 40px;
        position: absolute;
        right: 20px; }
        .api-documentation .api__example .api__example_header-bar .api__example_header-bar_action:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          display: block;
          margin: -6px 0;
          top: 50%;
          border-top: 1px solid white;
          border-right: 1px solid white;
          right: 10px; }
        .api-documentation .api__example .api__example_header-bar .api__example_header-bar_action:after {
          content: '';
          position: absolute;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          display: block;
          border: 1px solid white;
          top: 50%;
          margin: -14px 0;
          right: 0; }
        .api-documentation .api__example .api__example_header-bar .api__example_header-bar_action:hover {
          cursor: pointer;
          opacity: 0.6; }
    .api-documentation .api__example .api__example-documentation {
      margin: 0;
      padding: 10px; }
      .api-documentation .api__example .api__example-documentation > * {
        margin-bottom: 30px; }
    .api-documentation .api__example:before {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      left: -10px;
      width: 9px;
      background-color: #566270; }
    .api-documentation .api__example.api__example--place-holder {
      vertical-align: middle;
      margin: 30px 20px; }
      .api-documentation .api__example.api__example--place-holder .place-holder {
        color: #A3A9B4;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
        text-align: center;
        margin: 0; }
      .api-documentation .api__example.api__example--place-holder .place-holder--title {
        font-size: 22px;
        text-transform: capitalize; }
      .api-documentation .api__example.api__example--place-holder .place-holder--text {
        font-size: 16px; }
    .api-documentation .api__example.api__example--compress {
      -webkit-animation: fade-from-right .25s;
      animation: fade-in-from-right .25s; }
    .api-documentation .api__example .api__documentation__subtitle, .api-documentation .api__example .api__documentation__subtitle_section, .api-documentation .api__example .api__documentation__subtitle_status-code {
      color: #FFFFFF;
      text-shadow: none;
      font-size: 22px;
      font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
      margin: 0 30px 30px; }
    .api-documentation .api__example .api__documentation__subtitle_section {
      font-size: 18px; }
    .api-documentation .api__example .api__documentation__subtitle_status-code {
      font-size: 16px; }
    .api-documentation .api__example .example__status-codes-wrapper {
      margin: 0 30px 30px;
      line-height: 2.28em; }
    .api-documentation .api__example .example__info__col {
      margin: 0 0 20px;
      font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
      width: calc(50% - 10px);
      vertical-align: top;
      display: inline-block; }
      .api-documentation .api__example .example__info__col.example__info__col-full {
        width: 100%; }
      .api-documentation .api__example .example__info__col .example__info__block:first-child {
        margin-left: 30px; }
    .api-documentation .api__example .example__info__block {
      display: block;
      margin-left: 0;
      vertical-align: top;
      color: #FFFFFF;
      font-size: 16px;
      font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
      margin: 0 20px; }
    .api-documentation .api__example table.example__info__block {
      width: 100%;
      display: table; }
    .api-documentation .api__example .example__info__text {
      display: inline;
      color: #FFFFFF;
      text-shadow: none;
      opacity: 0.9;
      vertical-align: top;
      font-size: 15px; }
    .api-documentation .api__example .example__status-code {
      color: #364250;
      background-color: #566270;
      padding: 0px 20px;
      font-weight: 600;
      margin-right: 10px;
      font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
      display: inline-block;
      line-height: 1.7em;
      font-size: 1em;
      vertical-align: middle; }
      .api-documentation .api__example .example__status-code:hover {
        cursor: pointer; }
    .api-documentation .api__example .example__status-code.example__status-code--selected {
      background-color: white; }
    .api-documentation .api__example .examples-container {
      padding: 0 20px 30px; }
      .api-documentation .api__example .examples-container .example-code_container {
        margin: 0; }
    .api-documentation .api__example .example-code_container {
      margin: 0 20px 30px; }
    .api-documentation .api__example .example__status-codes {
      margin-bottom: 0; }
    .api-documentation .api__example .md-item, .api-documentation .api__example .api__documentation__text {
      color: #FFFFFF; }
  .api-documentation .api__example--compress {
    -webkit-animation: fade-from-left .25s;
    animation: fade-from-left .25s; }
  .api-documentation .md-item {
    color: #566270; }
    .api-documentation .md-item > * {
      margin: 0 10px 30px 20px; }
    .api-documentation .md-item > table {
      margin: 0 10px 30px; }
    .api-documentation .md-item > pre.example-code_container {
      width: calc(100% - 20px);
      margin-left: 10px; }
    .api-documentation .md-item h2 {
      text-transform: uppercase;
      font-size: 18px;
      /* 			font-family: $font-light-regular; */
      font-weight: normal;
      color: #566270;
      /*-From old design*/
      font-size: 22px;
      line-height: 22px;
      font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif;
      font-weight: 300;
      color: #363636;
      /*-From old design*/ }
  .api-documentation .api__documentation__title {
    font-size: 30px;
    line-height: 30px;
    font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif;
    color: #566270;
    margin: 30px 15px 30px 20px;
    /* Chrome */
    word-wrap: break-word;
    /* Firefox */
    word-break: break-all;
    /*-From old design*/
    font-size: 30px;
    line-height: 30px;
    font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #363636;
    /*-From old design*/ }
    .api-documentation .api__documentation__title.api__documentation__title__example {
      color: #FFFFFF; }
  .api-documentation .api__documentation__text {
    color: inherit;
    /* 		font-size: $font-size-body; */
    /* 		font-family: $font-book-regular; */
    /* 		line-height: $font-size-body-line-height; */
    /*-From old design*/
    text-align: left;
    font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-weight: 300;
    text-shadow: none;
    color: #566270;
    text-rendering: optimizeLegibility;
    /*-From old design*/
    word-wrap: break-word; }
  .api-documentation .api__documentation-link {
    color: #009EE5;
    font-size: 14px;
    text-decoration: none;
    cursor: auto;
    font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif; }
  .api-documentation .api__documentation-link:-webkit-any-link {
    font-size: 14px;
    color: #009EE5;
    font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif; }
  .api-documentation .api__documentation--table-elements {
    display: block; }
    .api-documentation .api__documentation--table-elements th, .api-documentation .api__documentation--table-elements td {
      font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
      font-weight: normal;
      line-height: 16px;
      color: #363636;
      padding: 10px;
      text-align: left;
      min-width: 5em;
      border-bottom: 1px solid #BCBCBC; }
    .api-documentation .api__documentation--table-elements td {
      font-size: 12px;
      line-height: 14px;
      word-break: initial; }
      .api-documentation .api__documentation--table-elements td:last-child {
        word-wrap: break-word;
        /* Chrome */
        word-break: break-all;
        /* Firefox */ }
    .api-documentation .api__documentation--table-elements th {
      font-size: 12px;
      font-family: BBVAWebSemibold-Regular, Helvetica, Arial, sans-serif;
      font-weight: bold;
      padding-top: 0;
      white-space: pre; }
    .api-documentation .api__documentation--table-elements.api__documentation--table-elements--compressed tr td {
      padding-top: 0;
      padding-bottom: 0;
      font-size: 14px; }
    .api-documentation .api__documentation--table-elements tbody tr {
      font-size: 12px;
      border-left: 0;
      border-right: 0;
      line-height: 24px; }
      .api-documentation .api__documentation--table-elements tbody tr:first-child td.with_border-top {
        border-top: 1px solid #BCBCBC; }
  .api-documentation ul.api__documentation__unordered-list, .api-documentation ol.api__documentation__ordered-list {
    font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
    color: #566270;
    font-size: 14px;
    padding-left: 15px;
    list-style-type: disc;
    line-height: 24px;
    /* 		margin-bottom: 24px; */ }
  .api-documentation ul.api__documentation__unordered-list ul {
    padding-left: 15px;
    list-style-type: disc; }
  .api-documentation ol.api__documentation__ordered-list ol {
    padding-left: 15px;
    list-style-type: decimal; }
  .api-documentation .api__documentation__section-name {
    display: inline-block;
    vertical-align: middle;
    font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #009EE5;
    margin: 30px 20px 30px;
    /*-old style*/
    font-family: "BBVAWebLight-Bold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #363636;
    margin-bottom: 10px;
    /*-old style*/ }
    .api-documentation .api__documentation__section-name:first-child {
      margin-top: 0; }
  .api-documentation .api__documentation--table-parameters {
    margin: 30px 10px;
    display: table;
    width: 96%;
    color: #566270; }
    .api-documentation .api__documentation--table-parameters .api__documentation--table-parameters-title {
      font-size: 16px;
      color: #566270;
      font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif;
      margin: 30px 10px 10px; }
    .api-documentation .api__documentation--table-parameters td {
      font-size: 12px;
      border-top: 1px solid #566270;
      padding: 5px 10px; }
      .api-documentation .api__documentation--table-parameters td:first-child {
        font-size: 14px;
        width: 20%; }
    .api-documentation .api__documentation--table-parameters tr:first-child td {
      border-top: none; }
    .api-documentation .api__documentation--table-parameters.with_margin-bottom {
      margin-bottom: 30px; }
  .api-documentation .api__documentation__parameters {
    width: 100%;
    display: table;
    border-top: 1px solid #72767D; }
    .api-documentation .api__documentation__parameters:last-child {
      border-bottom: 1px solid #72767D; }
    .api-documentation .api__documentation__parameters .md-item > * {
      padding: 0;
      margin: 0; }
    .api-documentation .api__documentation__parameters .api__documentation__parameters__row {
      display: table-row;
      padding: 0 0 10px;
      margin: 0; }
      .api-documentation .api__documentation__parameters .api__documentation__parameters__row.api__documentation__parameters__row-top {
        margin-bottom: 12px; }
      .api-documentation .api__documentation__parameters .api__documentation__parameters__row .api__documentation__parameters__col {
        width: 50%;
        display: table-cell;
        vertical-align: top;
        padding: 5px 0;
        word-break: break-all;
        word-wrap: break-word; }
        .api-documentation .api__documentation__parameters .api__documentation__parameters__row .api__documentation__parameters__col:first-child {
          padding-right: 10px; }
        .api-documentation .api__documentation__parameters .api__documentation__parameters__row .api__documentation__parameters__col:last-child {
          padding-left: 10px; }
        .api-documentation .api__documentation__parameters .api__documentation__parameters__row .api__documentation__parameters__col .api__documentation__parameters__title, .api-documentation .api__documentation__parameters .api__documentation__parameters__row .api__documentation__parameters__col .api__documentation__parameters__text {
          font-weight: normal;
          font-size: 14px;
          display: block;
          color: #363636;
          font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif; }
        .api-documentation .api__documentation__parameters .api__documentation__parameters__row .api__documentation__parameters__col .api__documentation__parameters__text {
          font-size: 12px; }
    .api-documentation .api__documentation__parameters .col--first, .api-documentation .api__documentation__parameters .col--second {
      /* 		    padding-left: 10px; */
      /* 		    padding-right: 10px; */
      /* 		    width: 50%; */
      /* 		    display: table-cell; */
      /* 		    position: relative; */ }
    .api-documentation .api__documentation__parameters .api__documentation__block {
      display: block; }
    .api-documentation .api__documentation__parameters .col--second .parameters__description, .api-documentation .api__documentation__parameters .col--second .paramters__example {
      font-size: 12px;
      font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif; }
    .api-documentation .api__documentation__parameters .parameters__parameter, .api-documentation .api__documentation__parameters .parameters__default {
      display: block;
      color: #363636;
      font-size: 14px;
      font-family: BBVAWebBook-Regular, Helvetica, Arial, sans-serif; }
    .api-documentation .api__documentation__parameters .paramters__example, .api-documentation .api__documentation__parameters .parameters__default {
      padding: 12px 0 0;
      bottom: 0; }
    .api-documentation .api__documentation__parameters .paramters__example {
      display: block; }
    .api-documentation .api__documentation__parameters .parameters__default {
      position: absolute; }
    .api-documentation .api__documentation__parameters .parameters__type {
      display: inline; }
  .api-documentation .example-code_container {
    width: 100%;
    background-color: #363636;
    border: none;
    color: #FFFFFF;
    padding: 15px;
    font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap; }
  .api-documentation .example-code_container-console {
    width: 100%;
    background-color: #363636;
    border: none;
    color: #FFFFFF;
    font-family: BBVAWebLight-Regular, Helvetica, Arial, sans-serif; }

.api-doc--example-expanded .api__example:before {
  left: -1px; }

.text-center {
  text-align: center; }
