<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/api_documentation.css' />
</head>
<body>
<div class="api-documentation container">
    <div id="header">
        <div class="action-controls">
Z
        </div>
        <div class="code-language-controls">
X
        </div>
    </div>
    <div id="sidebar">

    </div>
    <div id="api-doc">

    </div>

</div>
</body>
</html>