<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/api/v1/blueprint/parser?file=accounts_v2.apib">Accounts_v2</a>
    <a href="/api/v1/blueprint/parser?file=basic.apib">Basic</a>
    <a href="/api/v1/blueprint/parser?file=polls.apib">Polls</a>
  </body>
</html>
