<% include ./partials/head %>
<% include ./partials/header %>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop mdl-cell--12-col-tablet">
        <div class="mdl-card mdl-shadow--4dp" style="width:100%">
            <div class="mdl-card__supporting-text">
                <%= message %>
            </div>
            <div class="mdl-card__supporting-text">
                <%= error.status %>
            </div>
            <div class="mdl-card__supporting-text">
                <pre><%= error.stack %></pre>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>
