<!DOCTYPE html>
<html>
<head>
<title>AM Documentation</title>
{% include "./layouts/am_doc-styles.njk" %}
</head>
<body>
	<div id="content" class="api-documentation">	
{% include "./layouts/am_doc-header.njk" %}
{% include "./layouts/am_doc-sidebar.njk" %}
{% include "./layouts/am_doc-content.njk" %}
	</div> <!-- content -->
{% include "./layouts/am_doc-scripts.njk" %}
</body>
</html>